package view

import "go-spordlfy/internal/models"



templ Devices(deviceResponse models.DeviceResponse) {
    if len(deviceResponse.Devices) > 0 {
        <select name="device" hx-post="/selectdevice" >
            for _, device := range deviceResponse.Devices {
                <option value={device.ID}>{ device.Name } </option>
            }
        </select>
    } else {
        <button hx-get="/devices" hx-target="this">Devices</button>
    }
}