package view

import(
	"go-spordlfy/internal/data"
)


templ Devices(deviceResponse data.DeviceResponse) {
     <ul>
        for _, device := range deviceResponse.Devices {
            <li>{ device.Name }</li>
        }
    </ul>
}