package view

script activateButton(loginLink string) {
	var link = loginLink
	document.getElementById("loginButton").addEventListener("click", function() {
          window.location.href = link
        });
}



templ Login(loginLink string) {
	<html>
		<head>
			<link href="https://unpkg.com/water.css@2/out/dark.css" rel="stylesheet"></link>
		</head>
		<body onload={activateButton(loginLink)} >
			<button id="loginButton">Login</button>
		</body>
	</html>
}