<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Open Link on Button Click</title>
    </head>
    <body>
    
      <button id="loginButton">Login</button>
      <button id="deviceButton">Geräte</button>
    
      <script>
        // JavaScript code to open the link on button click
        document.getElementById("loginButton").addEventListener("click", function() {
          console.log("clicked!")
          // Change the URL below to the desired link
          window.location.href = "{{.AuthUrl}}"
        });
      </script>
    
    </body>
    </html>