<script>    
    window.onbeforeunload = () =>  {
        this.player.disconnect();
        return undefined;
    }  
    


    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = {{ . }};
        
        this.player = new Spotify.Player({
            name: 'Gotify',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });
        this.player.connect();

        this.player.addListener('ready', ({ device_id }) => {
            htmx.trigger("#devices", "spotify-sdk-finished");
            console.log('Ready with Device ID', device_id);
        });

        this.player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        this.player.addListener('initialization_error', ({ message }) => {
            console.error(message);
        });

        this.player.addListener('authentication_error', ({ message }) => {
            console.error(message);
        });

        this.player.addListener('account_error', ({ message }) => {
            console.error(message);
        });

    }

</script>
